{
  "targets": {
    "ie": "10",
    "android": "5"
  },
  "sourceType": "script",
  "presets": [
    "next/babel", 
    "@babel/preset-react", 
    "@babel/preset-typescript", 
    [
      "@babel/preset-env", 
      {
        "forceAllTransforms": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "transform-remove-strict-mode",
    "@babel/plugin-transform-reserved-words",
    "babel-plugin-transform-import-meta",
    "lodash",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}